ul.nav.nav-tabs#myTab1(role='tablist')
  li.nav-item(role='presentation')
    button.nav-link.active#home-tab(data-toggle='tab', data-target='#commands', type='button', role='tab', aria-controls='home', aria-selected='true')
      img(src='./images/commands.png')
      | الاوامر
  li.nav-item(role='presentation')
    button.nav-link#profile-tab(data-toggle='tab', data-target='#wallet', type='button', role='tab', aria-controls='profile', aria-selected='false')
      img(src='./images/wallet.png')
      | المحفظة
  li.nav-item(role='presentation')
    button.nav-link#contact-tab(data-toggle='tab', data-target='#calc', type='button', role='tab', aria-controls='contact', aria-selected='false')
      img(src='./images/calc.jpg')
      | حاسبتي
  li.nav-item(role='presentation')
    button.nav-link#contact-tab(data-toggle='tab', data-target='#account', type='button', role='tab', aria-controls='contact', aria-selected='false')
      img(src='./images/account-paper.png')
      | كشف الحساب
  li.nav-item(role='presentation')
    button.nav-link#contact-tab(data-toggle='tab', data-target='#transfer', type='button', role='tab', aria-controls='contact', aria-selected='false')
      img(src='./images/transfers.png')
      | التحويلات الالكترونية
  li.nav-item(role='presentation')
    button.nav-link#contact-tab(data-toggle='tab', data-target='#pay', type='button', role='tab', aria-controls='contact', aria-selected='false')
      img(src='./images/pay.jpg')
      | معلومات السداد
  li.nav-item(role='presentation')
    button.nav-link#contact-tab(data-toggle='tab', data-target='#notification', type='button', role='tab', aria-controls='contact', aria-selected='false')
      img(src='./images/notification.jpg')
      | التنبيهات
  li.nav-item(role='presentation')
    button.nav-link#contact-tab(data-toggle='tab', data-target='#signature', type='button', role='tab', aria-controls='contact', aria-selected='false')
      img(src='./images/Signature.png')
      | التوقيع الالكتروني