.price__details
  .price__item
    span.price__item--label الشركة
    span.price__item--text
      img(src='./images/logo-elryan.jpg')
      | صندوق الريان

  .price__item
    img(src='./images/chart-sample.jpg')

  .price__item
    span.price__item--label اسهم العرض
    span.price__item--text.price__item--number 60,046

  .price__item
    span.price__item--label سعر العرض
    span.price__item--text.price__item--number.price__item--orange 40,859

  .price__item
    span.price__item--label السعر الحالي
    span.price__item--text.price__item--number.price__item--green 40.859

  .price__item
    span.price__item--label سعر الطلب
    span.price__item--text.price__item--number.price__item--blue 40.846

  .price__item
    span.price__item--label اسهم الطلب
    span.price__item--text.price__item--number 7,860

  .price__item
    span.price__item--label التغيير ٪
    span.price__item--text.price__item--number.price__item-text--green 0.39

  .price__item
    span.price__item--label اجمالي الاسهم
    span.price__item--text.price__item--number 1,984,282

  .price__item
    span.price__item--label ريال
    span.price__item--text.price__item--number.price__item-text--purple 3,567,567

