aside.partnerships__container
  ul
    li.partnerships__item
      span.partnerships__title الشركات
      select.partnerships__select-all
        option الكل
    li.partnerships__item
      img.partnerships--logo(src='./images/logo-elryan.jpg')
      span.partnerships--name صندوق الريان
      img.partnerships--star.blink_me(src='./images/star-purple.jpg')
    li.partnerships__item
      img.partnerships--logo(src='./images/country-logo.jpg')
      span.partnerships--name بلدنا
      img.partnerships--star(src='./images/star-gray.jpg')
    li.partnerships__item
      img.partnerships--logo(src='./images/8amko.jpg')
      span.partnerships--name قامكو
      img.partnerships--star.blink_me(src='./images/star-purple.jpg')
    li.partnerships__item
      img.partnerships--logo(src='./images/ordero.jpg')
      span.partnerships--name Ordeoo
      img.partnerships--star(src='./images/star-gray.jpg')
    li.partnerships__item
      img.partnerships--logo(src='./images/mana3i.jpg')
      span.partnerships--name المناعي
      img.partnerships--star.blink_me(src='./images/star-purple.jpg')
    li.partnerships__item
      img.partnerships--logo(src='./images/works.jpg')
      span.partnerships--name أعمال
      img.partnerships--star(src='./images/star-gray.jpg')
    li.partnerships__item
      img.partnerships--logo(src='./images/features.jpg')
      span.partnerships--name مزايا
      img.partnerships--star.blink_me(src='./images/star-purple.jpg')
    li.partnerships__item
      img.partnerships--logo(src='./images/rayanbacket.jpg')
      span.partnerships--name صندوق الريان
      img.partnerships--star(src='./images/star-gray.jpg')
    li.partnerships__item
      img.partnerships--logo(src='./images/qnbk.jpg')
      span.partnerships--name QNBK
      img.partnerships--star(src='./images/star-gray.jpg')
    li.partnerships__item
      img.partnerships--logo(src='./images/t7welieh.jpg')
      span.partnerships--name التحويلية
      img.partnerships--star(src='./images/star-gray.jpg')
    li.partnerships__item
      img.partnerships--logo(src='./images/asmnt.jpg')
      span.partnerships--name الاسمنت
      img.partnerships--star(src='./images/star-gray.jpg')
    li.partnerships__item
      img.partnerships--logo(src='./images/msthmer.jpg')
      span.partnerships--name مستثمرين
      img.partnerships--star(src='./images/star-gray.jpg')
    li.partnerships__item
      img.partnerships--logo(src='./images/logo-elryan.jpg')
      span.partnerships--name صندوق الريان
      img.partnerships--star(src='./images/star-gray.jpg')
    li.partnerships__item
      img.partnerships--logo(src='./images/country-logo.jpg')
      span.partnerships--name بلدنا
      img.partnerships--star.blink_me(src='./images/star-purple.jpg')
    li.partnerships__item
      img.partnerships--logo(src='./images/8amko.jpg')
      span.partnerships--name قامكو
      img.partnerships--star(src='./images/star-gray.jpg')