
$base_white: #fff;
$light_gray_shadow: #fafbff;
$theme_color: #ebebeb;
$table_bg_blue_100:#92c9f0;
$table_bg_blue_200: #acd6f3;
$table_bg_blue_300: #cee5f7;
$table_bg_orange_100:#fef3e4;
$table_bg_orange_200:#e4f2fb;
$table_bg_orange_300:#fdebd0;
$table_bg_orange_400:#fbdcb0;
$table_bg_orange_500:#f9d08f;
$theme_purple_color: #882758;
$gray_color: #79889f;
$color_white_200:#f7f7f7;
$green_txt_color:#80bc95;
$blue_txt_color:#d3eaf8;
$orange_txt_color: #faead5;
$green_color:#91c9a5;
$white_bg_200:#eaeaea;
$gray_color_200: #7f8da3;
$gray_color_300:#7584AC;
$gray_text_200:#747473;
$white_bg_400:#d8f5e9;
$white_bg_500:#f8f9fb;
$orange_color_300:#f9ce95;
$text_brown:#8b5214;
$bg_brown: #fce8cc;
$gray_bg_600: #bae1f7;
$blue_color_200:#91d1f7;
$blue_txt_200:#2e6c91;
$white_bg_300: #dee2e6;
$white_bg_600:#efefef;
$purple_bg_300:#ae4181;
$white_bg_700:#f6f4f5;
$gray_color_700:#74829a;
$black_bg_200:#010101;
$purple_bg_200:#862254;