doctype html
html 
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon", type="image/x-icon", href="./images/favicon-16x16.png")
    title The Group Company
    // Collect all files using channels and fonts using gulp minFonts & copyIcons & copyWebFont
    link(href="./font-awsome/font-awsome-all.css", rel="stylesheet")
    // Collect all style files into one file and convert from scss format to css ( gulp scss and gulp concat)
    include pug/styles

  body 
    // Divide the page into several partial and components using pugjs
    header
      include pug/components/main-header
    .sub-header 
      include pug/components/sub-header 
    include pug/components/content

    // using here the gulp conact and gulp uglify to collect all plguins with one file ( gulp concat & gulp uglify, gulp-autoprefixer, gulp-sourcemap)
    script(src="./js/plugin/plugins.js")
    script(src="http://localhost:35729/livereload.js")